html, body {
    margin: 0px;
    padding: 0px 0px 50px 0px;
    font-size: 10px;
    height: 100%;
    font-family: 'MozTT';
    background: none repeat scroll 0% 0% white;
    line-height: 100%;
}
#first,#working,#result{
    margin:5px;
}
img#logo{
    width:120px;
}